<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leon_eduardo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Leon Eduardo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActividadMP"></activity>
        <activity android:name=".ActividadMI" />
        <activity android:name=".vista.actividades.ActividadRecycleArtistas" />
        <activity
            android:name=".vista.navigation_drawer"
            android:label="Leon Eduardo"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".vista.actividades.actividad_escuchar" />
        <activity android:name=".vista.fragmentos.fragmento" />
        <activity android:name=".vista.actividades.ActividadRecibirParametros" />
        <activity android:name=".vista.actividades.ActividadEnviarParametors" />
        <activity android:name=".vista.actividades.activity_sumar" />
        <activity android:name=".vista.actividades.activity_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>